<main>
    <section>
        <div class="container-sm panel mt-3">
            <div class="row">
                <div class="col"> 
                    <img src="" class="img-fluid" alt="...">
                </div>
                <div class="col ">
                    <table class="table table-">
                        <tbody>
                          <tr>
                            <th scope="row">Nombre</th>
                            <td>Mark</td>
                          </tr>
                          <tr>
                            <th scope="row">Apellido</th>
                            <td>Jacob</td>
                          </tr>
                          <tr>
                            <th scope="row">Edad</th>
                            <td colspan="2">18</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>
    <section>
      <app-cartas></app-cartas>
    </section>
    <section>
      
    </section>
</main>